@{
    ViewData["Title"] = "Home Page";
}

<div>
    <div class="display-6" style="text-align: center;">
        <strong>Deck Master</strong>
    </div>
    <hr class=".br"/>
    <main class="pb-3">
        <div class="row">
            <div class="col-sm-4">
            </div>
            <div class="col-sm-8 col-md-4" style="padding-top:40px;">
                <h3>Welcome to Deck Master!</h3>
                We specialize in providing high-quality decks of cards for all your gaming and card collecting needs. Our online store offers a wide variety of decks, from standard playing cards to collectible and limited-edition decks.
                <p></p>
                Our decks are made with durable materials and feature stunning designs, making them perfect for both casual and serious players. We also offer custom deck printing services to help you create your own personalized deck.
                <p></p>
                Thank you for choosing Deck Master for all your card needs. Shop now and discover the perfect deck for you!
                <p></p>

                <input type="button" value="Shop Now" style="background-color:#26C6DA; border-radius:10px;" onclick="window.location= '@Url.Action( "Index", "Shop")'" />
              
            </div>
            <div class="col-sm-4 d-none d-md-block"></div>
            </div>

            <hr />

        




    </main>
    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
</div>
